@{
    Layout = null;
}
<!DOCTYPE html>
<html dir="ltr">

<head>
    <!-- Custom CSS -->
    <link href="~/Content/css/style.min.css" rel="stylesheet">
</head>

<body>
    <div class="error-box">
        <div class="text-center">
            <h1 class="error-title text-danger">404</h1>
            <h3 class="text-uppercase error-subtitle">PAGE NOT FOUND !</h3>
            <p class="text-muted mt-4 mb-4">YOU SEEM TO BE TRYING TO FIND HIS WAY HOME</p>
        </div>
    </div>
</body>

</html>